@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    <a class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table id="booksTable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Book</th>
        <th>Genre</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/api/BooksApi',
                method: 'GET',
                success: function (data) {
                    var table = $('#booksTable tbody');
                    $.each(data, function (i, book) {
                        var row = '<tr>' +
                            '<td><a href="/Books/Edit/' + book.id + '">' + book.title + '</a></td>' +
                            '<td>' + book.genre.name + '</td>' +
                            '<td><a href="/Books/Details/' + book.id + '">Details</a></td>' +
                            '</tr>';
                        table.append(row);
                    });
                },
                error: function (error) {
                    console.error("Error fetching books: ", error);
                }
            });
        });
    </script>
}