@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    <a class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table id="booksTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#booksTable').DataTable({
                "ajax": {
                    "url": "/api/booksapi",
                    "dataSrc": ""
                },
                "columns": [
                    {
                        "data": "title", "render": function (data, type, row) {
                            return '<a href="/Books/Edit/' + row.id + '">' + data + '</a>';
                        }
                    },
                    { "data": "genre.name" },
                    {
                        "data": "id", "render": function (data, type, row) {
                            return '<a class="btn btn-info" href="/Books/Details/' + data + '">Details</a>';
                        }
                    },
                ]
            });
        });
    </script>
}
